---
title: My Page
layout: main
---

<h2>Home</h2>
<p>
Hello, {{title}}
</p>

<h2>Blog Posts</h2>
<ul>
<li><a href="posts/apple">Apple</a></li>
<li><a href="posts/beta">Beta</a></li>

</ul>